---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
let currentPath = Astro.url.pathname;
---

<Layout title="Documentación FullStack">
	<div class="pageTitle">
		<h1>Fundamentals</h1>
		<img src="/astro-proyect/images/filled_icon.svg" alt="logo_programacion" class="logo_codigo">
	</div>
	<ul role="list" class="link-card-grid">
		<Card
			href=`${currentPath}html/`
			title="HTML"
			description="HTML (HyperText Markup Language) es el lenguaje estándar utilizado para crear y estructurar contenido en la web."
		/>
		<Card
			href=`${currentPath}css/`
			title="CSS"
			description="CSS (Cascading Style Sheets) es un lenguaje de hojas de estilo utilizado para describir la presentación y el diseño de un documento escrito en HTML."
		/>
		<Card
			href=`${currentPath}javascript/`
			title="JavaScript"
			description="Javascript es un lenguaje de programación que permite implementar funcionalidades complejas en páginas web, como contenido dinámico, interactividad y comunicación con servidores."
		/>

	</ul>
</Layout>
