---
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('javascript')).sort(
    (a, b) => a.data.pubDate.localeCompare(b.data.pubDate)
);
---

<Layout title="Documentación FullStack">
    <section>
        <div class="pageTitle">
            <h1>Javascript</h1>
            <img src="/astro-proyect/images/filled_icon.svg" alt="logo_programacion" class="logo_codigo">
        </div>
        <ul role="list" class="link-card-grid">
            {
                posts.map((post) => (
                    <Card 
                        href={`${post.slug}/`}
                        title={`${post.data.title}`}
                        description={`${post.data.description}`}
                    />
                ))
            }
        </ul>
    </section>
</Layout>
