---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
let currentPath = Astro.url.pathname;
---

<Layout title="Documentaci칩n FullStack">
	<div class="pageTitle">
		<h1>Backend</h1>
		<img src="/astro-proyect/images/filled_icon.svg" alt="logo_programacion" class="logo_codigo">
	</div>
	<ul role="list" class="link-card-grid">
		<Card
			href=`${currentPath}nodejs/`
			title="NodeJS"
			description="Node.js es un entorno de ejecuci칩n de JavaScript del lado del servidor que permite a los desarrolladores crear aplicaciones web escalables y de alto rendimiento."
		/>
		<Card
			href=`${currentPath}bases_de_datos/`
			title="Bases de Datos"
			description="Las bases de datos permiten almacenar y consultar informaci칩n de forma eficiente. Aprender치s a trabajar con SQL y NoSQL e integrarlas en aplicaciones web."
		/>
	</ul>
</Layout>
