@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

/************** Layout ******************/

:root {
    --accent: 255, 255, 255;
    --accent-light: 239, 51, 64;
    --accent-dark: 0, 0, 0;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent-light)),
        rgb(var(--accent)),
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
    background: #2F2F2F;
    background-size: 224px;
}
body {
    margin: 0px;
}
main {
    width: 1200px;
    max-width: calc(100% - 2em);
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    word-wrap: break-word;
}

h1 {
    font-family: "Krona One", sans-serif;
    color: #EF3340;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-align: center;
    font-size: 2.5rem;
}
h4 {
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232323;
    position: fixed;
    padding: 0 30px;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}
.navList {
    display: flex;
    list-style: none;
    gap: 40px;
}
.navItem a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.navItem a:hover {
    color: #EF3340;
}

.hamburger {
    display: none;
}

/**************** Buscador ********************/

.search-container {
    position: relative;
    width: 250px;
}

.search-input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-dropdown {
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    background: #2F2F2F;
    z-index: 100;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
}

.search-dropdown li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.search-dropdown li:last-child {
    border-bottom: none;
}

.search-dropdown li a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none; /* 游댢 esto quita el subrayado */
    color: white;
    font-size: 1rem;
    background-color: #232323;
    transition: background-color 0.2s ease-in-out;
}

.search-dropdown li a:hover {
    background-color: #2F2F2F;
    color: #EF3340;
}

.search-dropdown:empty {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }
    .logo-link {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .logo {
        max-width: 180px;
    }
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
    .search-container {
        flex: none;
        width: 70%;
    }

    .hamburger {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        color: white;
    }
    .navList {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        margin-right: 0;
        margin-top: 0;
        background-color: #232323;
        padding: 1rem;
        transition: max-height 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }

    .nav.active .navList {
        display: flex;
        max-height: 300px;
    }
}

.back-breadcrumbs {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 1200px;
    max-width: calc(100% - 2em);
    height: fit-content;
    margin: 7rem auto 2rem;
}
pre {
    position: relative;
    font-size: 1rem;
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.logo img {
    max-width: 100%;
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0;
}
.pageTitle {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 2em;
    align-items: center;
}
.logo_codigo {
    max-width: 8%;
    color:white
}

/************ BlogPost ************/

.prose {
    width: 1200px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
}
.title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
}

/************* CodeEditor *********/

.preCode {
    position: relative;
    background-color: #24292e;
    padding: 1rem;
    border-radius: 0.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 465px;
    height: 468px;
    overflow: scroll;
    
}
code {
    font-family: 'Consolas', 'Roboto', sans-serif;
    background-color: #24292e;
      padding: 2px 2px;          
      border-radius: 4px;
}

.renderedCodeBox {
    background-color: #24292e;
    width: 428px;
    height: 400px;
    border-radius: 0.5rem;
    border: none;
    margin: 13px 0;
}

.language-javascript {
    font-family: 'Consolas', 'Roboto', sans-serif;
}

.language-javascript:focus {
    outline: none;
}

/* Estilo para el bot칩n de copiar */
.copy-button {
    position:absolute;
    top: 0.5em;
    right: 0.5em;
    background: #24292e;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 0.8em;
    transition: all 0.3s ease;
    z-index: 10;
}

.copy-button svg {
    vertical-align: middle;
    margin-right: 0.5em;
}

.copy-button:hover {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

/*Estilo para el boton de probar codigo */
.test-btn {
    background: #13151a;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 0.8em;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin: 5px;
    z-index: 10;
}
.test-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

/**************************/

.link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #232323;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    height: 375px;
    max-width: 375px;
    border-left: 3px inset white;
    position: relative;
    
}
.link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: white;
    background-color: #23262d;
    opacity: 0.8;
}
h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
}
.link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
}
.card_title {
    color: #EF3340;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/********* Modal *************/

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(6px);
}

:where(.modal) {
color: black;
background-color: white;
border: 0.5rem solid black;
border-radius: 8px;
padding: 0;
}
.modal {
max-width: 80vw;
}
.modal__inner {
width: clamp(30ch, 70%, 75ch);
border-radius: 1rem;
width: 100%;
}

.modal__content {
display: flex;
padding: 0 1rem 1rem;
background-color: #13151a;
color: white
}

.modal__close {
background-color: #13151a;
text-align: end;
}

.modal__close button {
background-color: #13151a;
border: none;
}

.modal__close button:hover {
background-color: grey;
cursor: pointer;
text-decoration: underline;
}

.executeCode {
padding: 0.25rem 1rem;
border-width: 1px;
border-radius: 3px;
border-color: #4dacff;
background-color: #4dacff;
font-family: 'Consolas', 'Roboto', sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: calc(20 / 16);
letter-spacing: 0.005em;
color: #080c11;
width: 135px;
height: 45px;
}

.executeCode:hover {
    background-color: #92cbff;
    border-color: #92cbff;
    cursor: pointer;
}

.restoreCode {
    padding: 0.25rem 1rem;
    border-width: 1px;
    border-radius: 3px;
    border-color: #ff7a4d;
    background-color: #ff7a4d;
    font-family: 'Consolas', 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: calc(20 / 16);
    letter-spacing: 0.005em;
    color: #080c11;
    width: 135px;
    height: 45px;
}

.restoreCode:hover {
    background-color: #ffa292;
    border-color: #ffa292;
    cursor: pointer;
}

.open-modal {
    display: block;
    position: fixed;
    inset-block-start: 0px;
    inset-block-end: 0px;
    max-width: calc(100% - 2em - 6px);
    max-height: calc(100% - 2em - 6px);
    user-select: text;
    visibility: visible;
    overflow: auto;
    z-index: 999;
}

.modal_code_result {
    display: flex;
    gap: 2rem;
}

.modal_result {
    display: flex;
    flex-direction: column;
}

.modal_buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

/**********************/

/* Animation modal */
dialog[open],
dialog[open]::backdrop {
animation: fadein 0.3s ease-in-out;
}

@keyframes fadein {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #EF3340 #2F2F2F;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1em;
  }

  *::-webkit-scrollbar-track {
    background: #2F2F2F;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #EF3340;
    border-radius: 0.625em;
    border: 3px solid #2F2F2F;
  }

  @media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.2rem; /* Ajuste de tama침o para pantallas medianas */
    }
    .logo_codigo {
        max-width: 10%; /* Aumentamos el tama침o de la imagen en pantallas medianas */
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Reducci칩n adicional para pantallas m치s peque침as */
    }
    .logo_codigo {
        max-width: 12%; /* Aumentamos el tama침o para balancear el espacio en pantallas peque침as */
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.8rem; /* Tama침o m치s peque침o para pantallas m칩viles */
    }
    .logo_codigo {
        max-width: 15%; /* Imagen m치s grande para pantallas peque침as */
    }
}